<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<button type="button" class="btn btn-default navbar-btn navbar-left pull-left visible-xs" data-toggle="offcanvas"><span class="icon-filter"></span></button>
		<a class="navbar-brand" href="/#/">
			<img alt="Brand" src="http://nansen.com/Global/Css/images/logoNansen.png" /> NansenEats
		</a>
		<ul class="nav navbar-nav">
			<li class=""><a href="/#/restaurant/new-restaurant">Add Restaurant</a></li>
		</ul>
	<a class="btn btn-default navbar-btn navbar-right pull-right" href="#/login"><span class="icon-lock"></span><span> Log in</span></a>
	</div>
</nav>