p {
	color: #333;
	font-family: Arial, Verdana, sans-serif;
	font-weight: normal;
	font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
	color: #4d4d4d;
	font-family: Arial, Verdana, sans-serif;
}

h1 {
	font-size: 36px;
	color: #EB592F;
}

h2 {
	font-size: 32px;
}

h3 {
	font-size: 28px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 20px;
}

h6 {
	font-size: 18px;
}

ul {
	list-style: none;
	padding: 0;
}

.text-light {
	color: #ccc;
}

.highlight {
	color: white;
	background-color: #EB592F;
	padding: 5px 20px;
}

	.highlight * {
		color: white;
	}

ul.restaurants li > div {
	text-overflow: ellipsis;
	border: 1px solid #EB592F;
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 20px;
}

	ul.restaurants li h4 {
		min-height: 90px;
		text-align: center;
		margin: 0 0 15px 0;
		padding: 30px 0 0 0;
	}

	ul.restaurants li h4, ul.restaurants li p {
		text-overflow: ellipsis;
	}

.ratings {
	background-color: #eee;
	margin: 10px 0;
	padding: 10px;
}


.navbar-brand > img {
	display: inline;
	margin-top: -9px;
	margin-right: 5px;
}

.progress-bar-nansen {
	background-image: -webkit-linear-gradient(top,#ec8245 0,#eb592f 100%);
	background-image: -o-linear-gradient(top,#ec8245 0,#eb592f 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#ec8245),to(#eb592f));
	background-image: linear-gradient(to bottom,#ec8245 0,#eb592f 100%);
	background-color: #eb592f;
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
	z-index: 2;
	color: #fff;
	background-color: #ec8245;
	border-color: #ec8245;
	font-weight: bold;
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
	text-shadow: 0 -1px 0 #eb592f;
	background-image: -webkit-linear-gradient(top, #ec8245 0%, #eb592f 100%);
	background-image:      -o-linear-gradient(top, #ec8245 0%, #eb592f 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ec8245), to(#eb592f));
	background-image:         linear-gradient(to bottom, #ec8245 0%, #eb592f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec8245', endColorstr='#ffeb592f', GradientType=0);
	background-repeat: repeat-x;
	border-color: #eb592f;
}

.list-group-item-heading {
	background-color: #eee;
	font-weight: bold;
	color: #666;
}